body {
    /* background-color: orange; */
    background-image: url(../images/background-image.jpg);
}

#timer {
    background-color: aliceblue;
}

#game-display {
    background-color: aliceblue;
}